spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/gradebook
    username: gbuser
    password: gbpass
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
